@import '~reseter.css/src/scss/reseter';
@import '~bootstrap/scss/bootstrap-grid';
@import './variables';
@import './fonts/Roboto';

@import './components/subNavbar';
@import './components/navbar';

@import './functions/rem';

body {
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}

main {
	@include media-breakpoint-down(md) {
		margin-top: rem(62);
	}

	margin-top: rem(105);
	transition: 0.15s;
	opacity: 1;
}

.layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.hide-body {
	overflow: hidden;
	max-width: 100vw;
	max-height: 100vh;
	display: block;
	background: black;

	main {
		background: black !important;
		opacity: 0 !important;
		visibility: hidden;
	}
}
