@import '~reseter.css/src/scss/reseter';
@import '~bootstrap/scss/bootstrap-grid';
@import './variables';
@import './fonts/Roboto';

@import './components/subNavbar';
@import './components/navbar';

body {
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}

.resizeWindowAller {
}

main {
	transition: 0.15s;
	opacity: 1;
}

.hide-body {
	overflow: hidden;
	max-width: 100vw;
	max-height: 100vh;
	display: block;
	background: black;

	main {
		background: black !important;
		opacity: 0 !important;
		visibility: hidden;
	}
}
