@import '../../variables';
@import '../../functions/rem';

.cart {
	transition: 0.15s;
	background: transparent;
	user-select: none;
	cursor: pointer;

	svg {
		border: rem(3) transparent solid;
		border-radius: 100%;

		transition: 0.15s;
		fill: none;

		path {
			transition: 0.15s;
			fill: black;
		}
	}

	&:hover {
		transform: scale(1.2);

		svg {
			transition: 0.15s;
			background: transparent;
			border-color: transparent;

			path {
				fill: $primary;
			}
		}
	}

	&:active {
		transform: scale(1);
	}
}

.active {
	position: relative;

	svg {
		background: transparentize(lighten($primary, 35), 0.65);
		border-color: transparent;

		path {
			fill: $primary;
		}
	}
}
