@import '../functions/rem';
@import '../fonts/CenturyGothicNormal';

.text {
  font-size: rem(64);
  color: #bebebe;
  text-align: center;
  margin: rem(70);
  font-family: 'CenturyGothic', sans-serif;
}
