@import '../functions/rem';
@import '../fonts/CenturyGothicNormal';

.headlineForColumn {
	font-size: rem(60);
	font-family: 'CenturyGothic', sans-serif;
	font-weight: 400;

	margin: {
		bottom: rem(45);
	}
}

.textForColumn {
	font-size: rem(18);
	line-height: rem(30);
}
